html,body{
  background: #21232A;
  color: white !important;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
button{
  padding: 10px;
  font-size: 1.3rem;
  margin-right: 10px;
  cursor: pointer;
}